swagger: "2.0"
info:
  description: "This is the interface Adobe partners need to implement for automated Adobe IO integrations."
  version: "0.1.0"
  title: "Adobe IO Partner Api"
  termsOfService: "todo"
  contact:
    email: "todo"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "io.hitthecodejack.com"
basePath: "/api"
schemes:
- "https"
paths:
  /v1/partnerintegration:
    post:
      summary: "create a new partner integration"
      description: "create integration"
      operationId: "createIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Integration Metadata"
        required: true
        schema:
          $ref: "#/definitions/partnerIntegrationData"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        405:
          description: "Invalid input"
  /v1/partnerintegration/{integrationId}:
    put:
      summary: "update an existing partner integration"
      description: "update integration"
      operationId: "updateIntegration"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integrationId"
        description: "id of the integration to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Integration Metadata"
        required: true
        schema:
          $ref: "#/definitions/partnerIntegrationData"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        405:
          description: "Invalid input"
  /v1/partnerintegration/{integrationId}/{clientSecret}:          
    delete:
      summary: "delete an existing integration"
      description: ""
      operationId: "deleteIntegration"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integrationId"
        description: "id of the integration to be deleted"
        required: true
        type: "string"
      - in: "path"
        name: "clientSecret"
        description: "client secret of the integration to be deleted. the Integration must only be deleted if integrationId and client secret match."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        404:
          description: "integration not found"
        405:
          description: "Invalid input"
  /v1/testIntegration/{integrationId}:
    get:
      summary: "test an existing integration"
      description: "this is a method where partners can execute any code to internal and Adobe I/O apis that determine if the integration is working properly. The status of this test is visible to users in Adobe Exchange. The integration must only be updated if integrationId and client secret match an existing integration."
      operationId: "testIntegration"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "integrationId"
        description: "id of the integration to be tested"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        404:
          description: "integration not found"
  /v1/alive:
    get:
      summary: "test the general status of the server"
      description: "this is a method where you (the partner) can execute any code to check if all the required systems to run this api are availalbe."
      operationId: "alive"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
definitions:
  partnerIntegrationData:
    type: "object"
    properties:
      integrationId:
        type: "string"
        description: "Adobe I/O Integration Id"
      privatekey:
        type: "string"
        description: "private key of the X.509 certificate used for this integration"
      clientsecret:
        type: "string"
        description: "Adobe Integration I/O client secret for the integration"
      techaccountid:
        type: "string"
        description: "Adobe Integration I/O technical account id for the integration"
      apikey:
        type: "string"
        description: "Adobe Integration I/O api key for the integration"
      orgid:
        type: "string"
        description: "Adobe Organization Id"
      orgname:
        type: "string"
        description: "Customer Organization Name"
      customerEmail:
        type: "string"
        description: "Customer Contact Email"
        format: "email"
      customerContact:
        type: "string"
        description: "Customer Contact Name"
      ioApis: 
        type: array
        description: "list of io apis (jwt token metascopes) to be added to this integration"
        items:
          type: string
      name:
        type: "string"
        description: "Display name of the Integration"
  ApiResponse:
    type: "object"
    properties:
      error:
        type: "boolean"
      message:
        type: "string"
externalDocs:
  description: "Aobe I/O authentication guide:"
  url: "https://www.adobe.io/authentication/auth-methods.html#!AdobeDocs/adobeio-auth/master/AuthenticationOverview/AuthenticationGuide.md"